@import 'bootstrap/preboot.scss';

.alert-message {
  margin-top: 20px;
}

.well#login {
  .actions {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }

  form {
    margin-bottom: 0;
  }

  padding-top: 5px;
  padding-bottom: 5px;
}

.hero-unit {
  @include clearfix;
  margin-top: 30px !important;
  padding: 30px !important;

  div {
    float:right;
    padding: 20px 80px 0 0;
  }

  img {
    display: inline-block;
    float: left;
    padding-left: 80px;
  }

  .btn {
    margin-top: 20px;
  }
}

.inputs .clearfix {
  margin-bottom: 10px;
}