%li[setlist_item]{:class => setlist_item.song ? nil : 'setlist_item break'}
  .handle= image_tag('handle.png')
  .name
    %span= setlist_item.name || 'Break'
  %a.close{:href=>"#"}
    %span &times
  %a.add{:href=>"#"}
    %span +
  = hidden_field_tag 'song_ids[]', setlist_item.song_id