- if setlist_item.song
  %li.setlist_item
    = setlist_item.song.name
    = hidden_field_tag 'song_ids[]', setlist_item.song.id
    %a.close{:href=>"#"} &times
- else
  %li.setlist_item.break
    = setlist_item.name || 'Break'
    = hidden_field_tag 'song_ids[]', 0
    %a.close{:href=>"#"} &times