%li[setlist_item]{:class => setlist_item_class(setlist_item, defined?(setlist_item_counter) ? setlist_item_counter : 0)}
  - if @edit
    .handle <i class="icon-move"></i>&nbsp;
  .name
    %span= setlist_item.name || '- Break -'
  - if @edit
    %a.remove{:href=>"#"} <i class="icon-minus-sign"></i>
    %a.add{:href=>"#"} <i class="icon-plus-sign"></i>
  = hidden_field_tag 'song_ids[]', setlist_item.song_id