@import "mixins";

html, body, .container, .container-inner {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  @include border-radius(0);
}

.sidebar, .navbar, .nav-tabs, footer, .help-block, .alert-message {
  display: none;
}
