@import "site/shared.scss";

html, body, .container, .content {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  @include border-radius(0);
}

.topbar, .tabs, footer, .links, .help-block, .alert-message {
  display: none;
}

$column-length: 25;

li.setlist_item, li.song {
  border: none;
  font-size: $basefont * 1.5;
  line-height: $basefont * 1.8;
  color: black;

  .name {
    float: none;
  }

  &.page-break {
    page-break-before: always;
  }

  &.column-break {
    margin-top: (1 - floor($baseline * 1.5)) * $column-length;
  }

  &.column2 {
    margin-left: $setlistItemWidth + 20px;
  }
}

