- title 'Setlists'

- content_for :sidebar do
  %ul.nav.nav-list
    %li= link_to 'New setlist', new_resource_path

%table.table.table-striped
  %tbody
    - @setlists.each do |setlist|
      %tr
        %td= link_to setlist_display_name(setlist), resource_path(setlist)
        %td
          = link_to '<i class="icon-plus-sign"></i> copy'.html_safe, duplicate_resource_path(setlist), :class => 'btn btn-mini'
          = link_to '<i class="icon-trash"></i>'.html_safe, resource_path(setlist), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini'
