%h1 Setlists

%table
  %thead
    %tr
      %th
      %th
  %tbody
    - @setlists.each do |setlist|
      %tr
        %td= link_to setlist.name, resource_path(setlist)
        %td= link_to 'delete', resource_path(setlist), :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New Setlist', new_resource_path
