.page-header
  %h1 #{@setlist.name} 

- if @setlist.show
  #{show.name} (#{show.date})

%p.help-block Drag songs to reorder
.row#setlist
  .span6.song-list
    %ul.sortable{'data-setlist_id' => @setlist.id, 'data-band_id' => @band.id}
      - for song in @setlist.songs
        %li[song]= song.name

    %p
      = link_to 'Edit Setlist', edit_resource_path
