- title setlist_display_name(@setlist), "#{@setlist.songs.size} songs"

%p.help-block Drag songs to reorder
.song-list#setlist-items
  %ul.sortable{'data-sort_url' => sort_resource_path}
    = render @setlist.items

  .links
    = link_to 'Add/Remove Songs', edit_resource_path
    = link_to 'Print Setlist', '#', :class => 'btn print'
