%p#notice= notice

%h1
  #{@setlist.name} 
  %a{:href=>edit_resource_path}
    %small edit

- if @setlist.show
  #{show.name} (#{show.date})

%ol#songs.sortable{'data-setlist_id' => @setlist.id}
  - for song in @setlist.songs
    %li[song]= song.name

%p.help-block Drag songs to reorder

