.hero-unit
  %h1 Bandaliscious
  %p Remember all your songs, make killer setlists from them
  %p
    %a.btn.primary.large{:href=>new_band_path} Get started &raquo;
.row
  .span9
    %h2 It's what bands need
    %dl
      %dt You want to keep track of all the songs you play. Even the old ones. 
      %dd Bandaliscious delivers.
      %dt You want to make great setlists, and reuse them for your next shows.
      %dd Bandaliscious is what you need.
    %p
      %a.btn{:href=>new_band_path} Let's do this!
  .span7
    .well
      %h2 Login
      = render 'band_sessions/form'