.hero-unit
  %div
    %h1 Bandalicious
    %p Remember all your songs, make killer setlists from them
    %p
      = link_to "Get started &raquo;".html_safe, :signup, :class => 'btn primary large'
  = image_tag('logo-lg.png')
.row
  .span9#info
    %h2 It's what bands need
    %ul
      %li Keep track of all the songs you play. Even the old ones. 
      %li Make great setlists, and reuse them for your next shows.
    %p
      = link_to "Let's do this!", :signup, :class => 'btn'
  .span7
    .well#login
      %h2 Login
      = render 'band_sessions/form'