%li[song]{:class => 'song ' + column_marking(song_counter)}
  - if @edit
    .handle <i class="icon-resize-vertical"></i>
  .name
    = @edit ? link_to(song.name, edit_resource_path(song)) : song.name
  - if @edit
    = link_to '<i class="icon-trash"></i>'.html_safe, resource_path(song), :confirm => 'Are you sure?', :method => :delete
  