- title 'Songs', "#{@songs.size} songs"

%p.help-block Drag songs to reorder
.song-list
  %ul.sortable{'data-sort_url' => sort_resources_path}
    = render @songs

  .links= link_to 'Add Song', new_resource_path
