%h1 Songs

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @songs.each do |song|
    %tr
      %td= song.name
      %td= link_to 'Show', resource_url(song)
      %td= link_to 'Edit', edit_resource_url(song)
      / %td= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Song', new_resource_url
