.page-header
  %h1 Songs

%table
  - @songs.each do |song|
    %tr
      %td= link_to song.name, resource_path(song)
      %td= link_to 'edit', edit_resource_path(song)
      %td= link_to 'delete', resource_path(song), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Song', new_resource_path
