- title 'Songs', "#{@songs.size} songs"

- content_for :sidebar do
  = link_to 'Add song', new_resource_path

.song-list
  %ul.sortable{'data-sort_url' => sort_resources_path}
    = render @songs
- if @songs.size > 1
  %p.help-block Drag songs to reorder
