%h1 Bands

%table
  %tr
    %th
    %th
    %th

  - @bands.each do |band|
    %tr
      %td= link_to band.name, band_songs_path(band)
      %td= link_to 'edit', edit_band_path(band)
      %td= link_to 'delete', band, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Band', new_band_path
