// Place all the styles related to the Setlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/bootstrap.scss";

.draggable {
	display: inline-block;
	width: 300px;
  padding: 4px;
  font-size: 13px;
  list-style-position: inside;
  color: $gray;
  border: 1px solid #ccc;
  @include border-radius(3px);
  vertical-align: top;
	margin: 0;
	padding: 6px;
	margin-right: 10px;
	min-height: 30px;
}

.sortable li {
	cursor: move;
  color: $gray;
  font-size: 13px;
  padding-bottom: 2px;
}

#available_songs {
  margin-top: 46px;
}

li.empty {
  display: none;
  list-style-type: none;
  font-style: italic;
}