// Place all the styles related to the Setlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/bootstrap.scss";

.sortable {
	li {
		cursor: move;
	  color: $gray;
	  font-size: 13px;
	  padding-bottom: 2px;

	  img, span {
	  	vertical-align: middle;
	  }
	}

	display: inline-block;
	width: 300px;
  padding: 4px;
  font-size: 13px;
  line-height: $baseline;
  color: $gray;
  border: 1px solid #ccc;
  @include border-radius(3px);
  vertical-align: top;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	min-height: 30px;
}
	