@import "bootstrap/preboot.scss";

/* mimic input field */
.draggable-container {
  display: inline-block;
  width: 300px;
  border: 1px solid #ccc;
  @include border-radius(3px);
  margin: 0;
  padding: 6px;
  margin-right: 10px;
  vertical-align: top;
}

.draggable {
  min-height: 30px;
  margin-bottom: 0;
}

.sortable {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;

  li {
    cursor: move;
    color: $gray;
    font-size: 13px;
    padding-bottom: 2px;
  }
}

#available-songs-container {
  margin-top: 46px;
}

li.empty {
  display: none;
  font-style: italic;
}

li.song {
  border-bottom-width: 1px;
  border-color: $grayLighter;
  border-style: solid;
  padding: 0 0;
}

li.song .close {
  display: inline-block;
  float: right;
}

#available-songs li.song .close {
  display: none;
}