$baseFontSize: 15px;

@import "bootstrap";
/*@import "responsive";*/
@import "shared.scss";

html {
  background-color: $black;
}

body {
  padding-top: 60px;
  background-color: $black;
}

footer {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #EEE;
}

.clearfix {
  @include clearfix;
}

.navbar img {
  float: left;
  margin: 1px 10px 0 0;
}

.nav-tabs, .nav-pills {
  background-color: $black;
  margin-bottom: 0;
  border-bottom: none;

  a:hover {
    text-decoration: none;
  }
}

.container-inner {
  margin: 0 -20px;
  background-color: $white;
  padding: 20px;
  @include border-radius(3px);
  @include clearfix;
}

.sidebar {
  float: left;
  width: 220px;
  margin-right: 40px;

  h2 {
    margin: 0 0 10px 0;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.content {
  float: left;
}

footer {
  padding: 20px;
  margin: 24px 0;
  border-top: 1px solid #EEE;
  color: $grayLight;
}

li.setlist_item, li.song {
  width: 420px;
  list-style-type: none;
  list-style-position: inside;
  color: $gray;
  background-color: $white;
  height: $baseLineHeight * 1.5;
  white-space: nowrap;
  overflow: visible;

  .close, .add, .edit, .name {
    display: inline-block;
    height: 100%;

    span, img {
      display: inline-block;
      margin-top: $baseLineHeight * 0.2;
      margin-left: $baseLineHeight * 0.5;
    }
  }

  .handle {
    display: none;
  }

  .name {
    float: left;
  }

  .close, .add, .edit {
    float: right;
    width: $baseLineHeight * 1.5;

    &:hover {
      text-decoration: none;
    }
  }

  .add {
    display: none;
  }

  .edit img {
    margin-top: $baseLineHeight * 0.6;
    margin-left: $baseLineHeight * 0.6;
  }
}

.movable li {
  margin-top: -1px;
  border-width: 1px;
  border-color: $grayLighter;
  border-style: solid;
  cursor: move;
}

.song-list { 
  @include clearfix;
  width: 422px;

  ul {
    margin: 0 0 $baseFontSize 0;
  }
}

.page-header {
  @include clearfix;

  h1 {
    float: left;
  }

  .stats {
    float: right;
    color: $grayLight;
    margin-top: 15px;
  }
}

/* iPhone and Android styles */
@media screen and (max-device-width: 480px) {
  li.setlist_item, li.song {
    cursor: default;

    .handle {
      display: inline-block;
      float: left;
      height: 100%;
      width: $baseLineHeight * 1.5;
      cursor: move;

      img {
        margin-top: $baseLineHeight * 0.4;
        margin-left: $baseLineHeight * 0.3;
      }
    }

    .name span {
      margin-left: 0
    }
  }
}