@import "bootstrap/preboot.scss";

html {
  background-color: $black;
}

body {
  padding-top: 60px;
  background-color: $black;
}

.topbar h3 img {
  float: left;
  margin: 1px 10px 0 0;
}

.tabs, .pills {
  background-color: $black;
  margin-bottom: 0;
  border-bottom: none;

  a:hover {
    text-decoration: none;
  }
}

.content {
  margin: 0 -20px;
  background-color: $white;
  padding: 20px;
  @include border-radius(3px);
}

footer {
  padding: 20px;
  color: $grayLight;
}

li.setlist_item, li.song {
  width: 420px;
  list-style-type: none;
  list-style-position: inside;
  color: $gray;
  background-color: $white;
  border-width: 1px;
  border-color: $grayLighter;
  border-style: solid;
  height: $baseline * 1.5;
  margin-top: -1px;
  cursor: move;

  .close, .add, .edit, .name {
    display: inline-block;
    height: 100%;

    span, img {
      display: inline-block;
      margin-top: $baseline * 0.2;
      margin-left: $baseline * 0.5;
    }
  }

  .handle {
    display: none;
  }

  .name {
    float: left;
  }

  .close, .add, .edit {
    float: right;
    width: $baseline * 1.5;

    &:hover {
      text-decoration: none;
    }
  }

  .add {
    display: none;
  }

  .edit img {
    margin-top: $baseline * 0.6;
    margin-left: $baseline * 0.6;
  }
}

.song-list { 
  @include clearfix;
  width: 422px;

  ul {
    margin: 0 0 $basefont 0;
  }

  .links {
    float: left;
  }

  .count {
    float: right;
    color: $grayLight;
  }

  .btn {
    margin-right: 10px;
  }
}

/* iPhone and Android styles */
@media screen and (max-device-width: 480px) {
  li.setlist_item, li.song {
    cursor: default;

    .handle {
      display: inline-block;
      float: left;
      height: 100%;
      width: $baseline * 1.5;
      cursor: move;

      img {
        margin-top: $baseline * 0.4;
        margin-left: $baseline * 0.3;
      }
    }

    .name span {
      margin-left: 0
    }
  }
}