- if flash[:notice]
  .alert-message.success{:'data-alert'=>"alert"}
    %a.close{:href=>"#"} &times
    = flash[:notice]
- if flash[:alert]
  .alert-message.error{:'data-alert'=>"alert"}
    %a.close{:href=>"#"} &times
    = flash[:alert]