- title 'Band Members'

- content_for :sidebar do
  = link_to 'Add band member', new_resource_path

%table
  %tr
    %th Name
    %th Email

  - @members.each do |member|
    %tr
      %td= link_to member.name, resource_path(member)
      %td= member.email